html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto
}

md-toolbar .md-toolbar-tools h1 {
  font-size: 1.250em;
  font-weight: 400;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.date-row {
  margin: 16px 0px;
}

.scrollable-nav-content {
  position: absolute;
  top: 136px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: auto;
}

div.nav-buttons ul {
  list-style-type: none;

}

li {
    display: inline;
    padding-top:

}

div.nav-buttons ul li a{
  padding-top: 24px;
  padding-bottom: 21px;
	padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

div.nav-buttons ul li a:hover{
  background: #1976D2;
}

#view {
  min-height: 100%;
}

/*md-select-menu[multiple] md-option {
  padding-left: 48px;
}
md-select-menu[multiple] md-option:before {
  transition: 240ms;
  position: absolute;
  top: 15px;
  left: 16px;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
  content: ' ';
  border-color: rgba(0, 0, 0, 0.54);
  z-index: 1;
}
md-select-menu[multiple] md-option[selected]:before {
  background-color: rgba(30, 136, 229, 0.87);
  border-color: rgba(30, 136, 229, 0.87);
}
md-select-menu[multiple] md-option[selected]:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 17px;
  left: 22px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  content: ' ';
  z-index: 2;
  border-color: #ffffff;
}*/
