<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86428671-1', 'auto');
        ga('send', 'pageview');

    </script>
<style>
    input[type="text"] {
        padding-top:0;
        padding-bottom:0;
        vertical-align:middle;
    }

    #login-dp{
        min-width: 250px;
        padding: 14px 14px 0;
        overflow:hidden;
        background-color:rgba(255,255,255,.8);
    }
    #login-dp .help-block{
        font-size:12px
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    #login-dp .social-buttons{
        margin:12px 0
    }
    #login-dp .social-buttons a{
        width: 49%;
    }
    #login-dp .form-group {
        margin-bottom: 10px;
    }
    .btn-fb{
        color: #fff;
        background-color:#3b5998;
    }
    .btn-fb:hover{
        color: #fff;
        background-color:#496ebc
    }
    .btn-tw{
        color: #fff;
        background-color:#55acee;
    }
    .btn-tw:hover{
        color: #fff;
        background-color:#59b5fa;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }















    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */

        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
</style>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_sV31DWYyOiGu2MrBVTKkapPw');
    </script>



    <link href="../assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            console.log("as")
            var $form = $('#payment-form');
            $form.submit(function(event) {
                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from being submitted:
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('#payment-form');
            console.log("hitttttttttttttttttttttttttttttttttttttttt");
            console.log(response);

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };
    </script>
    <title>FitPath</title>

    <!-- Bootstrap Core CSS -->
    <link href="/../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/../assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/../assets/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
     aria-labelledby = "myModalLabel" aria-hidden = "true">


    <div class = "modal-dialog">
        <div >



            <div class = "modal-body">
                <div class="row" style=" position: fixed;
  top: 100%;
  left: 40%;
  /* bring your own prefixes */
  transform: translate(-30%, -50%); width:600px; height: 600px; ">
                    <div class="row s12 m7">


                            <div class="col s3">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>

                                <div>
                                <a class="" data-toggle="modal" data-target="#myModal2">Already have an account?</a>
                                    </div>
                                <!-- <div class="container" style="position: fixed; left: 400px; top:150px;">
                                     <div class="row">
                                         <div class="col-xs-12 col-md-2">

                                         </div>
                                         <div class="col-xs-12 col-md-2">
                                             <div class="panel panel-success">
                                                 <div class="cnrflash">
                                                     <div class="cnrflash-inner">
                                                 <span class="cnrflash-label">MOST
                                                     <br>
                                                     POPULR</span>
                                                     </div>
                                                 </div>
                                                 <div class="panel-heading">
                                                     <h3 class="panel-title">
                                                         Silver</h3>
                                                 </div>
                                                 <div class="panel-body">
                                                     <div class="the-price">
                                                         <h1>
                                                             $20<span class="subscript">/mo</span></h1>
                                                     </div>
                                                     <table class="table">
                                                         <tr>
                                                             <td>
                                                                 2 Account
                                                             </td>
                                                         </tr>
                                                         <tr class="active">
                                                             <td>
                                                                 5 Project
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                             <td>
                                                                 100K API Access
                                                             </td>
                                                         </tr>
                                                         <tr class="active">
                                                             <td>
                                                                 200MB Storage
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                             <td>
                                                                 Custom Cloud Services
                                                             </td>
                                                         </tr>
                                                         <tr class="active">
                                                             <td>
                                                                 Weekly Reports
                                                             </td>
                                                         </tr>
                                                     </table>
                                                 </div>
                                                 <div class="panel-footer">
                                                    <!-- <a href="http://www.jquery2dotnet.com" style="    pointer-events: none;"  class="btn btn-success" role="button">Select</a>
                                             </div>
                                         </div>


                                     </div> -->
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>

                                <div>
                                By clicking signup you are agreeing <a href="" >terms and conditions</a>
                                </div>

                            </div>



                        <div class="col s6">
                        <div  style=" position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;">







                            <form action="/signup" method="post" id="payment-form" >

                                <div class="row">
                                    <!--
                                                <table style="width:100%">
                                                <div class="btn-group" data-toggle="buttons">

                                                    <tr>
                                                        <td>
                                                    <div class="col s12" id="login-input-container">
                                                    <label class="btn btn-primary active" >
                                                        <input type="radio" name="options" id="option1" value="plan1" autocomplete="off"> Plan 1
                                                    </label>
                                                    </div>
                                                        </td>
                                                        <td>
                                                    <div class="col s12">

                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" id="option2" value="plan2"  autocomplete="off"> Plan 2
                                                    </label>
                                                    </div>
                                                        </td>
                                                        <td>
                                                        <div class="col s12">

                                                        <label class="btn btn-primary" >
                                                        <input type="radio" name="options" id="option3" value="plan3"  autocomplete="off"> Plan 3
                                                    </label>
                                                        </div>
                                                        </td>
                                                    </tr>

                                                </div>
                                                </table>
                                                -->
                                    <div class="row"></div>
                                    <div class="row"></div>



                                    <div class="row">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="options" id="option1"  value="test" autocomplete="off" checked> test
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option2"  value="plan2" autocomplete="off"> Plan 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option3"  value="plan3" autocomplete="off"> Plan 3
                                            </label>
                                        </div>

                                    </div>







                                    <div id="first-name" class="col s6">
                                        <label class="left-align login-label" for="first">FIRST NAME</label>
                                        <input id="first" type="text" name="firstName" class="validate" style="height: 100%;">
                                    </div>
                                    <div id="last-name" class="col s6">
                                        <label class="left-align login-label" for="last">LAST NAME</label>
                                        <input id="last" type="text" name="lastName" class="validate"  style="height: 100%;">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s6" id="login-input-container">
                                        <label class="left-align login-label" for="email">EMAIL</label>
                                        <input id="email" type="email" name="username" class="validate" style="height: 100%;">
                                    </div>
                                    <div class="col s6" id="login-input-container">
                                        <label class="left-align login-label" for="password">PASSWORD</label>
                                        <!-- <label class="right-align login-label">Forgot your password?</label> -->
                                        <input id="password" type="password" name="password" class="validate"style="height: 100%;">
                                    </div>
                                </div>


                                <span class="payment-errors"></span>

                                <div class="row">
                                    <div class="col s6" id="login-input-container" >
                                        <label class="left-align login-label">
                                            <span>Card Number</span>
                                        </label>
                                        <input type="text" size="20" data-stripe="number">

                                    </div>
                                    <div class="col s2">

                                        <label class="left-align login-label" id="login-input-container">
                                            <span>Exp month </span>
                                        </label>
                                        <input type="text" size="2" data-stripe="exp_month">

                                    </div>
                                    <div class="col s2">

                                        <label class="left-align login-label" id="login-input-container">
                                            <span>Exp year</span>
                                        </label>
                                        <input type="text" size="2" data-stripe="exp_year">

                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col s3">
                                        <label class="left-align login-label" id="login-input-container">
                                            <span>CVC</span>
                                            <input type="text" size="4" data-stripe="cvc">
                                        </label>
                                    </div>
                                    <div class="col s3">
                                        <label class="left-align login-label" id="login-input-container">
                                            <span>Billing Zip</span>
                                            <input type="text" minlength="3" maxlength="4" data-stripe="address_zip">
                                        </label>
                                    </div>
                                    <div class="col s6" style=" position:relative; top:20px;" id="login-input-container">
                                        <button id="full-width" class="btn btn-primary" type="submit">Sign Up!
                                        </button>
                                    </div>
                                </div>








                            </form>


                        </div>
                        </div>
                        <div class="col s3">


                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row">                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>

                            <div class="row" id="bottom-form-div" style="margin-right: 25px; margin-left: 25px;">
                                <div class="row">
                                    <div>Cancel anytime during first 30 days and you won't get charged.</div>
                                </div>
                                <div class="row" >

                                  after first month it's just CAD28.99/mon  <a class="" data-toggle="modal" data-target="#myModal2">Log in</a>
                                </div>

                            </div>

                        </div>
                        </div>




                </div>
            </div>
            <div class="modal-footer">
            <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>





    </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>

                <div class="row">
                    <div class="col s1">
                    </div>
                </div>
                <div class="row">
                    <div class="col s1">
                    </div>
                </div>

                <div class="row">
                    <div class="col s1">
                </div>
                </div>


            </div>




        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<div class = "modal fade" id = "myModal2" tabindex = "-1" role = "dialog"
     aria-labelledby = "myModalLabel" aria-hidden = "true">

    <div class = "modal-dialog">
        <div >



            <div class = "modal-body">
                <div class="row" style=" position: fixed;
  top: 50%;
  left: 35%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);">
                    <div>
                        <div  style=" position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #666;
  transition: box-shadow .25s;
  border-radius: 2px;">






                            <div>
                                <div style="position: absolute; top:50%; padding-left: 40%; padding-right: 40%; width: 300px;" >

                                    <form  style="width: 100%;" class="form" role="form" method="post" action="/signin" accept-charset="UTF-8" id="login-nav">


                                        <% if(message.length > 0) { %>
                                        <p class='left-align' style="margin-top: 20px;width: 100%;"><%= message %></p>
                                        <% } else { %>
                                        <p class='left-align' style="margin-top: 20px;width: 100%;">
                                            Welcome To FitPath!
                                        </p>
                                        <% } %>

                                        <div class="form-group">
                                            <label class="left-align login-label" for="email"style="width: 100%;">EMAIL</label>
                                            <input id="email" type="email" class="validate" name="username" style="height: 100%;">
                                        </div>



                                        <div class="form-group">
                                            <label class="left-align login-label" for="password">PASSWORD</label>
                                            <input id="password" type="password" class="validate" name="password" style="height: 100%;">
                                            <div class="help-block text-right">
                                                <a class="" data-toggle="modal" data-target="#myModal3">Forgot the Password</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" onclick="toast()" class="btn  btn btn-primary" style="padding: 14px 100px;">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="row" id="bottom-form-div" style="margin-right: 25px; margin-left: 25px;">
                        <div class="row" >
                            <a  href="/signin" class="btn waves-effect waves-light  blue-grey lighten-1" style="display: none;" type="submit"  style="width: 100%;" name="action">Already have an account?
                            </a>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>



        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<div class = "modal fade" id = "myModal3" tabindex = "-1" role = "dialog"
     aria-labelledby = "myModalLabel" aria-hidden = "true">

    <div class = "modal-dialog">
        <div >



            <div class = "modal-body">
                <div class="row" style=" position: fixed;
  top: 50%;
  left: 35%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);">
                    <div>
                        <div  style=" position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #666;
  transition: box-shadow .25s;
  border-radius: 2px;">






                            <div>
                                <div style="position: absolute; top:50%; padding-left: 40%; padding-right: 40%; width: 300px;" >

                                    <form  style="width: 100%;" class="form" role="form" method="post" action="/forgot" accept-charset="UTF-8" id="login-nav">


                                        <% if(message.length > 0) { %>
                                        <p class='left-align' style="margin-top: 20px;width: 100%;"><%= message %></p>
                                        <% } else { %>
                                        <p class='left-align' style="margin-top: 20px;width: 100%;">
                                            Welcome To FitPath!
                                        </p>
                                        <% } %>

                                        <div class="form-group">
                                            <label class="left-align login-label" for="email"style="width: 100%;">EMAIL</label>
                                            <input id="email" type="email" class="validate" name="username" style="height: 100%;">
                                        </div>




                                        <div class="form-group">
                                            <button type="submit" onclick="toast()" class="btn btn-primary " style="padding: 14px 50px;"><p>Reset the Password</p></button>
                                        </div>

                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="row" id="bottom-form-div" style="margin-right: 25px; margin-left: 25px;">
                        <div class="row" >
                            <a  href="/signin" class="btn waves-effect waves-light  blue-grey lighten-1" style="display: none;" type="submit"  style="width: 100%;" name="action">Already have an account?
                            </a>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>



        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="navbar-brand page-scroll">FitPath</a>

            <a href="" class="navbar-brand page-scroll"  data-toggle="modal" data-target="#myModal">Signup Now For Free</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>

                <li>
                    <a class="" data-toggle="modal" data-target="#myModal2">Log in</a>

                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Keep Your Clients On Track With Fitpath</h1>
            <hr>
            <p>All of your client communication in one spot, searchable and recyclable.</p>

            <a href="#about" class="btn btn-primary  page-scroll">Find Out More</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn  btn-primary  page-scroll" data-toggle="modal" data-target="#myModal">Get Your 1 Month Free Trial Today
            </button>



















































                            <!-- multistep form -->







                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Easily import clients from a spreadsheet, a Google doc, your Facebook friends, or one at a time manually. Or all three. Within five minutes you’re entire coaching clientèle will be uploaded onto FitPath.</p>
                <a href="#services" class="page-scroll btn btn-default sr-button">Get Started!</a>
                <a href="#demo" class="btn btn-default sr-button" data-toggle="collapse">More</a>
                <div id="demo" class="collapse row">
                    <div>
                        <p class="text-faded">
                    Fitpath was born in a coffee shop in January 2016, thanks to a reunion of former classmates 20

                    years after the fact. Thom a former Engineering Officer and Regional Manager for Canadas

                    largest fitness company, had launched his own online coaching business and found the tools on

                    the market severely lacking when it came to managing his growing business. Enter Matt

                    Boudreau, a Communications Officer and a high performance Taekwondo coach. Over many

                    more coffees and brainstorming sessions, the two developed the roadmap for what is now

                    Fitpath. Matt built the business end while Thom put his software development skills and

                    coaching background to good use. After online client trials and later coaching trials, Fitpath is

                    ready to make your life easier.
                        </p>
                    </div>
                    <div class="row"></div>
                    <div></div>

                    <div>
                        <p class="text-faded">

                    Fitpath is a software platform that allows you to coach the way you want, bringing you the

                    communications tools you require, automation like you have never seen and the added bonus of

                    introducing you to new business processes that will ultimately allow you to earn more money

                    with less time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="snackbar">   <% if(message.length > 0) { %>
    <p class='left-align' style="margin-top: 20px;"><%= message %></p>
    <% } else { %>
    <p class='left-align' style="margin-top: 20px;">
        Welcome To FitPath!
    </p>
    <% } %></div>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Make More Money</h3>
                    <p class="text-muted">Manage more clients. We specialize in client communication, business process implementation and automation. take your coaching to next the level.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Save Time</h3>
                    <p class="text-muted">Stop chasing clients for replies. Send automated reminders, workouts, nutrition, and surveys via text messages using your own custom built content</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>More Client Replies</h3>
                    <p class="text-muted">Clients don't want an annoying app to download or an email to reply to! 99% of text messages sent out get replies</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Powerful Dashboard</h3>
                    <p class="text-muted">See all of your clients replies and feed back in one location.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/../assets/img/portfolio/fullsize/6.jpg" class="portfolio-box">
                    <img src="/../assets/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Start Your 1 Month Free Trial Now</h2>







            <a href="" class="btn btn-default sr-button" data-toggle="modal" data-target="#myModal">Signup Now For Free</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start keeping track of yourclientssign  with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="/contactUs" target="_blank" >Contact us</a></p>
            </div>
        </div>
    </div>
</section>


<!-- jQuery -->
<script src="/../assets/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/../assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/../assets/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/../assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="/../assets/js/creative.min.js"></script>

</body>

</html>
