<!DOCTYPE html>
<html lang="en">
  <% include dist/view/partials/header.ejs %>
  <body ng-app="app" layout="column">
    <div ng-include="'/dist/view/navbar/toolbar-header.html'"></div>
    <div class="container" layout="row" flex>
      <ng-view layout="" flex>

      </ng-view>
    </div>
    <div class="fb-send-to-messenger"
  messenger_app_id="APP_ID"
  page_id="PAGE_ID"
  data-ref="PASS_THROUGH_PARAM"
  color="blue"
  size="standard"></div>
    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 'your-app-id',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </body>
  <% include dist/view/partials/footer.ejs %>
</html>
