<!DOCTYPE html>
<html lang="en">
  <% include dist/view/partials/header.ejs %>
  <body ng-app="app" layout="column">
    <div ng-include="'/dist/view/navbar/toolbar-header.html'"></div>
    <div class="container" layout="row" flex>
      <ng-view layout="" flex>

      </ng-view>
    </div>
    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>
  </body>
  <% include dist/view/partials/footer.ejs %>
</html>
