<html id="login-page">
  <% include ../partials/header.ejs %>
  <body class="fitpath-blue valign-wrapper">
      <div class="row" style="width: 400px;">
        <div class="row s12 m7">
          <div class="card" style="margin-right: 25px; margin-left: 25px;">

            <div class="row center-align" style="margin-bottom: 0px;">
              <ul class="collection">
               <li class="collection-item avatar">
                 <img src="../assets/img/willow.png" alt="" class="circle">
                 <!-- <span class="title">Title</span> -->

                 <% if(message.length > 0) { %>
                 <p class='left-align' style="margin-top: 20px;"><%= message %></p>
                 <% } else { %>
                 <p class='left-align' style="margin-top: 20px;">
                 Forgot your Passowrd? I can help!
                 </p>
                 <% } %>

                 <!-- <a href="#!" class="secondary-content"><i class="material-icons" style="color: #444; margin-top: 15px">arrow_back</i></a> -->
               </li>
             </ul>
            </div>

            <form method="post">
              <div class="row">
                <div class="col s12" id="login-input-container">
                  <label class="left-align login-label" for="email">NEW PASSWORD</label>
                  <input id="password" type="password" class="validate" name="new" required>
                </div>
              </div>

              <div class="row">
                <div class="col s12" id="login-input-container">
                  <label class="left-align login-label" for="email">CONFIRM PASSWORD</label>
                  <input id="confirm_password" type="password" class="validate" name="confirm" requird>
                </div>
              </div>

              <div class="row" id="login">
                <div>
                  <button id="full-width" class="btn waves-effect waves-light fitpath-green" type="submit" style="margin-bottom: 20px;">
                    Save
                  </button>
                </div>
              </div>
            </form>
      </div>

  </body>
  <script type="text/javascript">
      var password = document.getElementById("password")
      var confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

  </script>
</html>
