<html>
  <% include ../partials/header.ejs %>
  <body>
  <% include ../partials/nav.ejs %>
  <div id="index-banner">
    <div class="section">
      <div class="container">



        <br><br>
        <h2 id="r2r" class="header center fitpath-fill-blue">ATTENTION GET IN ON THE BETA LAUNCH NOW!</h2>
        <img src = "/../assets/img/landingpage/us.png" align = "left"></img>

        <div class="col center" style="margin-top: 100px">

          <p style = "font-size: 130%;" class="header col s12 black-text light">Heads up - If you are reading this and you haven’t been given a top-secret beta code please enter your email address here to be added to our wait-list. One of our Coaching Solutions Specialists will be in touch with you shortly.
            If you are one of the chosen few, that has been selected to partake in our amazing beta program please enter your code here.
          </p>
        </div>
        <div class="row center">
          <a href="/signup" class="btn-large waves-effect waves-light fitpath-green">SIGN UP FOR BETA</a>
          <div class="col center" >
            <p style = "font-size: 130%;" class="header col s12 black-text light">Or keep reading to learn more about what FitPath can do for your online or in-person coaching business.
            </p>
          </div>
        </div>

        <br><br>

      </div>
    </div>
  </div>

  <div id="index-banner">
    <div class="section">
      <div class="container">
        <br><br>
        <h1 id="r2r" class="header center fitpath-fill-blue" style="margin-top: -100px " >Helping you help others.</h1>
        <!--
          <div class="row center">
            <h5 class="header col s12 black-text light">Your business is helping others take care of themselves. FitPath is a platform that helps you do more of that.</h5>
          </div>
          <div class="row center">
            <a href="/signup" class="btn-large waves-effect waves-light fitpath-green">The No Credit Card Needed Button</a>
          </div>
        -->
        <br><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="column">


        <div class="row ">
          <div>
            <!--
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">group</i></h2>
            <h5 class="center">Automate The Routine, So You Can Focus On The Meaningful</h5>
          -->
            <img src = "/../assets/img/landingpage/fbadduser2.png" align = "right"></img>
            <p class="light center fitpath-fill-blue" style="text-align: left">Wishing you could spend less time collecting and inputting information on clients? And more time actually.... Coaching?</p>
            <br>
            <p class="light center" > Using Facebook’s Graph API we are able to pull profile pictures to help you personalize your dashboard. </p>
          </div>

        </div>

        <div class="row">
          <div class="icon-block">
            <!--
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">In 2016 Sales = Social</h5>
          -->
            <img src = "/../assets/img/landingpage/reminder.png" align = "left"></img>
            <p class="light center center fitpath-fill-blue" style="text-align: left">Do you sometimes feel more like a babysitter than a coach?</p>
            <br>
            <p class="light center"> We all like to coach in our own way, and a lot of times clients don’t want a one-size fits all coaching experience.
Fitpath allows you to set up any reminder you want, for any client, and it will then recur and remin </p>
          </div>
        </div>


        <div class="row">
          <div class="icon-block">
            <!--
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">settings</i></h2>
            <h5 class="center">Zero Friction = 100% Onboard</h5>
          -->

            <img src = "/../assets/img/landingpage/messenger.png" align = "right" style="border: 1px solid #021a40"></img>
            <p class="light center "> Do you wish you can manage all of your business in one place? Rather than jumping from different sites and apps? </p>
            <br>
            <p class="light center"> Here’s how painless messaging is with Fitpath. Click on the messaging tab for any client.
Write the message, then chose SMS, FB (coming soon) or Email and send.<br>
<b>Regardless of the medium the client uses to respond to you, all of the messages are stacked under their messaging panel.<b> </p>
          </div>
        </div>

      </div>

    </div>
  </div>

<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Some Text</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/runner.png" alt="Unsplashed background img 2"></div>
  </div>
-->
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h5 class = "header center fitpath-fill-blue"> My name is Thom Lamb, and trust me I understand.</h5>

          <p class="left-align light">I spent five years looking for the right software to help me run my coaching business. In the end I realized it didn’t exist, so I quit coaching, learned how to code, and built it.
            <br></br>
              Welcome to FitPath!
            <br></br>
              The KEY benefits of fitpath for you:
          </p>

          <h5 class="header left fitpath-fill-blue">Pain Free Organization </h5>

          <p class="light left">We make it painless to get up and running with your entire clientele loaded up on Fitpath in half an hour.</p>

          <h5 class="header right fitpath-fill-blue">Automate the routine so you can focus on the meaningful. </h5>

          <p class="light right"  style="text-align: right">Design and customize reminders for clients or groups of clients, and get reports when clients interact with them.</p>

          <h5 class="header left fitpath-fill-blue">No more death by tabs!</h5>

          <p class="light left" style="text-align: left"> All of your client information, their progress and their messages with you on one tab. Quickly update your plan of attack with a client, check his goals and progress, and see all of his communications with you in one tab.</p>

        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class = "row">
        <div class ="column">
          <h5 class="header center fitpath-fill-blue">  Easy roster creation.</h5>
          <p class ="light left" >Easily import clients from a spreadsheet, a google doc, your facebook friends, or one at a time manually. Or all three. Within five minutes you’re entire coaching clientele will be uploaded onto FitPath. </p>
        </div>
      </div>
    </div>
  </div>





<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> /Some Text/ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
-->

  <% include ../partials/footer.ejs %>

  <% include ../partials/scripts.ejs %>

  </body>
</html>
