<html>
<style>
    body
    {
        margin-top: 20px;
    }
    .panel
    {
        text-align: center;
    }
    .panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
    .panel-body
    {
        padding: 0px;
        text-align: center;
    }

    .the-price
    {
        background-color: rgba(220,220,220,.17);
        box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
        padding: 20px;
        margin: 0;
    }

    .the-price h1
    {
        line-height: 1em;
        padding: 0;
        margin: 0;
    }

    .subscript
    {
        font-size: 25px;
    }

    /* CSS-only ribbon styles    */
    .cnrflash
    {
        /*Position correctly within container*/
        position: absolute;
        top: -9px;
        right: 4px;
        z-index: 1; /*Set overflow to hidden, to mask inner square*/
        overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
        width: 100px;
        height: 100px;
        border-radius: 3px 5px 3px 0;
    }
    .cnrflash-inner
    {
        /*Set position, make larger then 			container and rotate 45 degrees*/
        position: absolute;
        bottom: 0;
        right: 0;
        width: 145px;
        height: 145px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -o-transform: rotate(45deg); /* Opera */
        -moz-transform: rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
        -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
        -ms-transform-origin: 100% 100%;  /* IE 9 */
        -o-transform-origin: 100% 100%; /* Opera */
        -moz-transform-origin: 100% 100%; /* Firefox */
        background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
        background-size: 4px,auto, auto,auto;
        background-color: #aa0101;
        box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
    }
    .cnrflash-inner:before, .cnrflash-inner:after
    {
        /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
        content: " ";
        display: block;
        position: absolute;
        bottom: -16px;
        width: 0;
        height: 0;
        border: 8px solid #800000;
    }
    .cnrflash-inner:before
    {
        left: 1px;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .cnrflash-inner:after
    {
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    .cnrflash-label
    {
        /*Make the label look nice*/
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-bottom: 5px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(1,1,1,.8);
        font-size: 0.95em;
        font-weight: bold;
        text-align: center;
    }
</style>
  <% include ../partials/header.ejs %>
  <body>
  <% include ../partials/nav.ejs %>
  <div id="index-banner">
    <div class="section">
      <div class="container">

      <!-- Navigation -->
      <!-- start bootstrap for landing page-->

      <link href="/../assets/css/bootstrap.min.css" rel="stylesheet">

      <link href="/../assets/css/landing-page.css" rel="stylesheet">
      <!-- Header -->
      <a name="about"></a>
      <div class="intro-header">
          <div class="container">

              <div class="row">
                  <div class="col-lg-12">
                      <div>
                        <h1>Keep Your Clients On Track </h1>
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.intro-header -->

      <!-- Page Content -->

    <!-- start of intro -->
  	<a  name="services"></a>
      <div class="content-section-a">

          <div class="container">
              <div class="row">
                  <div class="col-lg-7 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Getting Started Intro </h2>
                      <p class="lead">Heads up - If you are reading this and you haven’t been given a beta code please use contact us button and One of our Coaching Solutions Specialists will be in touch with you shortly. If you are one of the chosen few, that has been selected to partake in our amazing beta program please enter your code here.</p>
                      <a href="/signup" class="btn-large waves-effect waves-light fitpath-green">SIGN UP NOW FOR 1 MONTH FREE TRIAL</a>
                      <a href="/contactUs" target="_blank" class="btn-large waves-effect waves-light fitpath-green">CONTACT US</a>



                  </div>








              </div>
              <div class="content-section-b">

                  <div class="container">

                      <div class="row">
                          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                              <hr class="section-heading-spacer">
                              <div class="clearfix"></div>
                              <h2 class="section-heading">Plans</h2>
                          </div>
                          <div class="col-lg-5 col-sm-pull-6  col-sm-6">







                              <div class="container">
                                  <div class="row">
                                      <div class="col-xs-12 col-md-3">
                                          <div class="panel panel-primary">
                                              <div class="panel-heading">
                                                  <h3 class="panel-title">
                                                      Bronze</h3>
                                              </div>
                                              <div class="panel-body">
                                                  <div class="the-price">
                                                      <h1>
                                                          $10<span class="subscript">/mo</span></h1>
                                                      <small>1 month FREE trial</small>
                                                  </div>
                                                  <table class="table">
                                                      <tr>
                                                          <td>
                                                              1 Account
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              1 Project
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              100K API Access
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              100MB Storage
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              Custom Cloud Services
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              Weekly Reports
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="panel-footer">
                                                  1 month FREE trial</div>
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-md-3">
                                          <div class="panel panel-success">
                                              <div class="cnrflash">
                                                  <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULR</span>
                                                  </div>
                                              </div>
                                              <div class="panel-heading">
                                                  <h3 class="panel-title">
                                                      Silver</h3>
                                              </div>
                                              <div class="panel-body">
                                                  <div class="the-price">
                                                      <h1>
                                                          $20<span class="subscript">/mo</span></h1>
                                                      <small>1 month FREE trial</small>
                                                  </div>
                                                  <table class="table">
                                                      <tr>
                                                          <td>
                                                              2 Account
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              5 Project
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              100K API Access
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              200MB Storage
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              Custom Cloud Services
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              Weekly Reports
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="panel-footer">
                                                  1 month FREE trial</div>
                                          </div>
                                      </div>
                                      <div class="col-xs-12 col-md-3">
                                          <div class="panel panel-info">
                                              <div class="panel-heading">
                                                  <h3 class="panel-title">
                                                      Gold</h3>
                                              </div>
                                              <div class="panel-body">
                                                  <div class="the-price">
                                                      <h1>
                                                          $35<span class="subscript">/mo</span></h1>
                                                      <small>1 month FREE trial</small>
                                                  </div>
                                                  <table class="table">
                                                      <tr>
                                                          <td>
                                                              5 Account
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              20 Project
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              300K API Access
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              500MB Storage
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                              Custom Cloud Services
                                                          </td>
                                                      </tr>
                                                      <tr class="active">
                                                          <td>
                                                              Weekly Reports
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </div>
                                              <div class="panel-footer">
                                              </div> 1 month FREE trial</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <div>
                  <div class="row">

                  <div>












                  <div class="col-lg-5 col-lg-offset-4 col-sm-6">
                      <div>  <a href="/signup" class="btn btn-success" role="button">Sign Up for 1 month Free !!!</a></div>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Getting Started</h2>
                      <p class="lead" >Easily import clients from a spreadsheet, a Google doc, your Facebook friends, or one at a time manually. Or all three. Within five minutes you’re entire coaching clientèle will be uploaded onto FitPath.  </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/fbadduser.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">With a simple click, we upload clients Facebook information to the dashboard.<p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <!-- /.content-section-a -->

      <div class="space-half"></div>
      <div class = "container">
        <img  src="/../assets/img/landingpage/stop.png" alt="" class = "centerImage" >
      <div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
      <p class="lead" align = "center"> <b class ="doubleBold">Apps SUCK </b>- They're are just another thing your clients won't do. We use bots and a whole lot of fancy code to send messages, reminders and surveys to your clients directly to their phones. Or email. Or Facebook</p>

      <div class="content-section-a">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Messages</h2>
                      <p class="lead">Here’s how painless messaging is with Fitpath. Click on the messaging tab for any client. Write the message, then chose SMS, FB (coming soon) or Email and send.</p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- add cool broader-->
                      <img class="img-responsive" src="/../assets/img/landingpage/messenger.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center"> Regardless of the medium the client uses to respond to you, all of the messages are stacked under their messaging panel.<p>
                  </div>

              </div>

          </div>
          <!-- /.container -->

      </div>

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Simple</h2>
                      <p class="lead"  >All of your client communication in one spot, searchable and recyclable. Plus you can work with people through Facebook without having to go ON Facebook. Makes batching tasks a breeze. </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/iphone.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center"> <p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Reminders</h2>
                      <p class="lead">We all like to coach in our own way, and a lot of times clients don’t want a one-size fits all coaching experience. FitPath allows you to set up any reminder you want, for any client, and it will then recur and remind the person on the schedule you set. </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/reminder.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">This allows you to track people’s habits, the tasks they complete, and quickly see who is doing well and who is struggling. <p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <div class="content-section-a">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Surveys</h2>
                      <p class="lead">Reminders are a great way to help clients make progress, but sometimes you want to do a more detailed exchange. <br><br>Somethings you could deliver with a survey: <br><br> 1. Workout Program <br> 2. Meal Plan <br> 3. Feedback </p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- add cool broader-->
                      <img class="img-responsive" src="/../assets/img/landingpage/Surveys.png" alt="" >
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">Our survey builder allows you to add as many questions as you want, and define what kinds of answers are acceptable.<p>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- selector -->
      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading"> Survey Selector</h2>
                      <p class="lead"> Our platform then connects with the client via SMS, FB or Email, and conversationally completes the survey with them. Then the answers are stored, and displayed on the clients survey panel and on the survey overview data table. </p>
                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/surveySelector.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">You can assign the surveys to one, some or all of your clients and you can save, reuse and redesign as many surveys as you want.<p>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <!-- /.content-section-b -->


      <!-- /.content-section-a -->












  	<a  name="contact"></a>
      <div class="banner">

          <div class="container">

              <div class="row">
                  <div class="col-lg-6">

                  </div>

              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.banner -->

        <hr class="space">

      <!-- Footer -->


      <!-- jQuery -->
      <script src="/assets/js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/../assets/js/bootstrap.min.js"></script>






<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> /Some Text/ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
-->

  <% include ../partials/scripts.ejs %>

  </body>
</html>
