<html>
  <% include ../partials/header.ejs %>
  <body>
  <% include ../partials/nav.ejs %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 id="r2r" class="header center fitpath-fill-blue">Rookie2Rockstar</h1>
        <div class="row center">
          <h5 class="header col s12 black-text light">Your path to a healthier, and happier lifestyle</h5>
        </div>
        <div class="row center">
          <a href="/signup" class="btn-large waves-effect waves-light fitpath-green">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="fit-to" src="assets/img/hiking.jpg" alt="hiking"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Accountability</h5>

            <p class="light">FitPath doesn't just track your progress. You'll also get real feedback from a coach who is dedicated to helping you live better, and who will help you if you slip up.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">group</i></h2>
            <h5 class="center">Affordability</h5>
            <p class="light">Our coaches have decades of experience in person and online. They can help you overcome injuries, improve sleep and energy, and just help you feel better.</p>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center fitpath-fill-blue lighten-1"><i class="material-icons">settings</i></h2>
            <h5 class="center">Experise..ibility</h5>

            <p class="light">VIP coaching that everyone can afford, at 1/5 the cost of a traditional personal trainer.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Some Text</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/runner.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send fitpath-fill-blue lighten-1"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">FitPath.me is a company focused on helping people take the first step to a healthier path. We are extremely excited to help people get healthier, and learn better habits with the help of great coaches and innovative technology.</p>
          </br>
          <h4>A Note From Our CEO</h4>
          <p class="left-align light">Hi, I'm Thom Lamb, Founder of FitPath.me. I have been a coach both online and in person for 12 years. FitPath.me is the realization of a dream I have to build better tech to help coaches help people. I'm so excited to be starting this Alpha Team and I look forward to learning from people how to solve their problems, and a huge thank you to our amazing FitPath.me team as well!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> /Some Text/ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>


  <% include ../partials/footer.ejs %>

  <% include ../partials/scripts.ejs %>
  </body>
</html>
