<html>
  <% include ../partials/header.ejs %>
  <body>
  <% include ../partials/nav.ejs %>
  <div id="index-banner">
    <div class="section">
      <div class="container">

      <!-- Navigation -->
      <!-- start bootstrap for landing page-->

      <link href="/../assets/css/bootstrap.min.css" rel="stylesheet">

      <link href="/../assets/css/landing-page.css" rel="stylesheet">
      <!-- Header -->
      <div> landing page</div>
      <!-- Footer -->


      <!-- jQuery -->
      <script src="/assets/js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/../assets/js/bootstrap.min.js"></script>






<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> /Some Text/ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
-->

  <% include ../partials/scripts.ejs %>

  </body>
</html>
