<html>
  <% include ../partials/header.ejs %>
  <body>
  <% include ../partials/nav.ejs %>
  <div id="index-banner">
    <div class="section">
      <div class="container">

      <!-- Navigation -->
      <!-- start bootstrap for landing page-->

      <link href="/../assets/css/bootstrap.min.css" rel="stylesheet">

      <link href="/../assets/css/landing-page.css" rel="stylesheet">
      <!-- Header -->
      <a name="about"></a>
      <div class="intro-header">
          <div class="container">

              <div class="row">
                  <div class="col-lg-12">
                      <div>
                        <h1>Keep Your Clients On Track </h1>
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.intro-header -->

      <!-- Page Content -->

    <!-- start of intro -->
  	<a  name="services"></a>
      <div class="content-section-a">

          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Getting Started Intro </h2>
                      <p class="lead">Heads up - If you are reading this and you haven’t been given a top-secret beta code please enter your email address here to be added to our wait-list. One of our Coaching Solutions Specialists will be in touch with you shortly. If you are one of the chosen few, that has been selected to partake in our amazing beta program please enter your code here.</p>
                      <a href="/signup" class="btn-large waves-effect waves-light fitpath-green">SIGN UP FOR BETA</a>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img class="img-responsive" src="/../assets/img/sections/rostrview.png" alt="">
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Getting Started</h2>
                      <p class="lead" >Easily import clients from a spreadsheet, a Google doc, your Facebook friends, or one at a time manually. Or all three. Within five minutes you’re entire coaching clientèle will be uploaded onto FitPath.  </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/fbadduser.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">With a simple click, we upload clients Facebook information to the dashboard.<p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <!-- /.content-section-a -->

      <div class="space-half"></div>
      <div class = "container">
        <img  src="/../assets/img/landingpage/stop.png" alt="" class = "centerImage" >
      <div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
      <p class="lead" align = "center"> <b class ="doubleBold">Apps SUCK </b>- They're are just another thing your clients won't do. We use bots and a whole lot of fancy code to send messages, reminders and surveys to your clients directly to their phones. Or email. Or Facebook</p>

      <div class="content-section-a">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Messages</h2>
                      <p class="lead">Here’s how painless messaging is with Fitpath. Click on the messaging tab for any client. Write the message, then chose SMS, FB (coming soon) or Email and send.</p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- add cool broader-->
                      <img class="img-responsive" src="/../assets/img/landingpage/messenger.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center"> Regardless of the medium the client uses to respond to you, all of the messages are stacked under their messaging panel.<p>
                  </div>

              </div>

          </div>
          <!-- /.container -->

      </div>

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Simple</h2>
                      <p class="lead"  >All of your client communication in one spot, searchable and recyclable. Plus you can work with people through Facebook without having to go ON Facebook. Makes batching tasks a breeze. </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/iphone.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center"> <p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Reminders</h2>
                      <p class="lead">We all like to coach in our own way, and a lot of times clients don’t want a one-size fits all coaching experience. FitPath allows you to set up any reminder you want, for any client, and it will then recur and remind the person on the schedule you set. </p>

                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/reminder.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">This allows you to track people’s habits, the tasks they complete, and quickly see who is doing well and who is struggling. <p>

                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <div class="content-section-a">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Surveys</h2>
                      <p class="lead">Reminders are a great way to help clients make progress, but sometimes you want to do a more detailed exchange. <br><br>Somethings you could deliver with a survey: <br><br> 1. Workout Program <br> 2. Meal Plan <br> 3. Feedback </p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- add cool broader-->
                      <img class="img-responsive" src="/../assets/img/landingpage/Surveys.png" alt="" >
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">Our survey builder allows you to add as many questions as you want, and define what kinds of answers are acceptable.<p>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- selector -->
      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading"> Survey Selector</h2>
                      <p class="lead"> Our platform then connects with the client via SMS, FB or Email, and conversationally completes the survey with them. Then the answers are stored, and displayed on the clients survey panel and on the survey overview data table. </p>
                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                      <img class="img-responsive" src="/../assets/img/landingpage/surveySelector.png" alt="">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <p class ="description" align = "center">You can assign the surveys to one, some or all of your clients and you can save, reuse and redesign as many surveys as you want.<p>
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>



      <!-- /.content-section-b -->


      <!-- /.content-section-a -->












  	<a  name="contact"></a>
      <div class="banner">

          <div class="container">

              <div class="row">
                  <div class="col-lg-6">

                  </div>

              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.banner -->

        <hr class="space">

      <!-- Footer -->


      <!-- jQuery -->
      <script src="/assets/js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/../assets/js/bootstrap.min.js"></script>






<!--
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> /Some Text/ </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
-->

  <% include ../partials/scripts.ejs %>

  </body>
</html>
