<html>
  <% include ../partials/header.ejs %>
  <div class="section">
    <h1>Profile</h1>
    <% for (var i = 0; i < profileOptions.length; i++) { %>
      <h3><%= profileOptions[i] %></h3>
    <% } %>
  </div>
  <% include ../partials/footer.ejs %>
</html>
