<html id="login-page">
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">
      Stripe.setPublishableKey('pk_live_8BUxKnXvRCnHDa6eWWlyXjQQ');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">


  <script type="text/javascript">
      $(function() {
          console.log("as")
          var $form = $('#payment-form');
          $form.submit(function(event) {
              // Disable the submit button to prevent repeated clicks:
              $form.find('.submit').prop('disabled', true);

              // Request a token from Stripe:
              Stripe.card.createToken($form, stripeResponseHandler);

              // Prevent the form from being submitted:
              return false;
          });
      });

      function stripeResponseHandler(status, response) {
          // Grab the form:
          var $form = $('#payment-form');
          console.log("hitttttttttttttttttttttttttttttttttttttttt");
          console.log(response);

          if (response.error) { // Problem!

              // Show the errors on the form:
              $form.find('.payment-errors').text(response.error.message);
              $form.find('.submit').prop('disabled', false); // Re-enable submission

          } else { // Token was created!

              // Get the token ID:
              var token = response.id;

              // Insert the token ID into the form so it gets submitted to the server:
              $form.append($('<input type="hidden" name="stripeToken">').val(token));

              // Submit the form:
              $form.get(0).submit();
          }
      };
  </script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <body class="fitpath-blue valign-wrapper">

      <div class="row" style=" position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);">
        <div class="row s12 m7">
          <div  style=" position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;">

            <div class="row center-align" style="margin-bottom: 0px;" id="login-input-container">
              <ul class="collection">
               <li class="collection-item avatar" class="left-align login-label">
                <!-- <img src="../assets/img/willow.png" alt="" class="circle">-->
                 <!-- <span class="title">Title</span> -->

                 <% if(message.length > 0) { %>
                 <p class='left-align' style="margin-top: 20px;"><%= message %></p>
                 <% } else { %>
                 <p class='left-align' style="margin-top: 20px;">
                 Welcome To FitPath!
                 </p>
                 <% } %>

                 <!-- <a href="#!" class="secondary-content"><i class="material-icons" style="color: #444; margin-top: 15px">arrow_back</i></a> -->
               </li>
             </ul>
            </div>





            <form action="/signup" method="post" id="payment-form" >

<div class="row">
    <!--
                <table style="width:100%">
                <div class="btn-group" data-toggle="buttons">

                    <tr>
                        <td>
                    <div class="col s12" id="login-input-container">
                    <label class="btn btn-primary active" >
                        <input type="radio" name="options" id="option1" value="plan1" autocomplete="off"> Plan 1
                    </label>
                    </div>
                        </td>
                        <td>
                    <div class="col s12">

                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" value="plan2"  autocomplete="off"> Plan 2
                    </label>
                    </div>
                        </td>
                        <td>
                        <div class="col s12">

                        <label class="btn btn-primary" >
                        <input type="radio" name="options" id="option3" value="plan3"  autocomplete="off"> Plan 3
                    </label>
                        </div>
                        </td>
                    </tr>

                </div>
                </table>
                -->
    <div class="row" style="position: relative; right: -150px;">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1"  value="test" autocomplete="off" checked> test
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2"  value="plan2" autocomplete="off"> Plan 2
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3"  value="plan3" autocomplete="off"> Plan 3
            </label>
        </div>

</div>







                <div id="first-name" class="col s6">
                  <label class="left-align login-label" for="first">FIRST NAME</label>
                  <input id="first" type="text" name="firstName" class="validate" >
                </div>
                <div id="last-name" class="col s6">
                  <label class="left-align login-label" for="last">LAST NAME</label>
                  <input id="last" type="text" name="lastName" class="validate"  >
                </div>
              </div>

              <div class="row">
                <div class="col s6" id="login-input-container">
                  <label class="left-align login-label" for="email">EMAIL</label>
                  <input id="email" type="email" name="username" class="validate">
                </div>
                  <div class="col s6" id="login-input-container">
                      <label class="left-align login-label" for="password">PASSWORD</label>
                      <!-- <label class="right-align login-label">Forgot your password?</label> -->
                      <input id="password" type="password" name="password" class="validate">
                  </div>
              </div>


                <span class="payment-errors"></span>

                <div class="row">
                    <div class="col s6" id="login-input-container" >
                    <label class="left-align login-label">
                        <span>Card Number</span>
                    </label>
                        <input type="text" size="20" data-stripe="number">

                    </div>
                    <div class="col s2">

                    <label class="left-align login-label" id="login-input-container">
                        <span>Exp month </span>
                    </label>
                        <input type="text" size="2" data-stripe="exp_month">

                        </div>
                    <div class="col s2">

                        <label class="left-align login-label" id="login-input-container">
                            <span>Exp year</span>
                        </label>
                        <input type="text" size="2" data-stripe="exp_year">

                    </div>

                </div>


                <div class="row">
                    <div class="col s2">
                    <label class="left-align login-label" id="login-input-container">
                        <span>CVC</span>
                        <input type="text" size="3" data-stripe="cvc">
                    </label>
                        </div>
<div class="col s3">
                    <label class="left-align login-label" id="login-input-container">
                        <span>Billing Zip</span>
                        <input type="text" size="6" data-stripe="address_zip">
                    </label>
                </div>
                   <div class="col s7" style=" position:relative; top:20px;" id="login-input-container">
                    <button id="full-width" class="btn waves-effect waves-light fitpath-green" type="submit">Sign Up!
                    </button>
                </div>
                </div>








            </form>

            <div class="row center-align" style="text-transform: lowercase;">
              or sign up through..
            </div>



            <div class="row" id="login" style="padding-left: 15px; padding-right: 15px; margin: 0px">
              <div>
                <a href="/oauth/facebook" id="facebook-button" class="btn waves-effect waves-light facebook-blue" type="submit" name="action" id="login-left">Facebook
                   <i class="valign fa fa-facebook left"></i>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="row" id="bottom-form-div" style="margin-right: 25px; margin-left: 25px;">
            <div class="row" >
                <a  href="/signin" class="btn waves-effect waves-light  blue-grey lighten-1" type="submit"  style="width: 100%;" name="action">Already have an account?
                </a>
            </div>
        </div>



      </div>

  </body>
  <% include ../partials/scripts.ejs %>
</html>
