<html id="login-page">
  <% include ../partials/header.ejs %>
  <body class="fitpath-blue valign-wrapper">

      <div class="row">
        <div class="row s12 m7">
          <div class="card" style="margin-right: 25px; margin-left: 25px;">

            <div class="row center-align" style="margin-bottom: 0px;">
              <ul class="collection">
               <li class="collection-item avatar">
                 <img src="../assets/img/willow.png" alt="" class="circle">
                 <!-- <span class="title">Title</span> -->

                 <% if(message.length > 0) { %>
                 <p class='left-align' style="margin-top: 20px;"><%= message %></p>
                 <% } else { %>
                 <p class='left-align' style="margin-top: 20px;">
                 Welcome To FitPath!
                 </p>
                 <% } %>

                 <!-- <a href="#!" class="secondary-content"><i class="material-icons" style="color: #444; margin-top: 15px">arrow_back</i></a> -->
               </li>
             </ul>
            </div>

            <form action="/signup" method="post">
              <div class="row">
                <div id="first-name" class="col s6">
                  <label class="left-align login-label" for="first">FIRST NAME</label>
                  <input id="first" type="text" name="firstName" class="validate" >
                </div>
                <div id="last-name" class="col s6">
                  <label class="left-align login-label" for="last">LAST NAME</label>
                  <input id="last" type="text" name="lastName" class="validate"  >
                </div>
              </div>

              <div class="row">
                <div class="col s12" id="login-input-container">
                  <label class="left-align login-label" for="email">EMAIL</label>
                  <input id="email" type="email" name="username" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="col s12" id="login-input-container">
                  <label class="left-align login-label" for="password">PASSWORD</label>
                  <!-- <label class="right-align login-label">Forgot your password?</label> -->
                  <input id="password" type="password" name="password" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="col s12" id="login-input-container">
                  <label class="left-align login-label" for="betacode">BETA CODE</label>

                  <input id="betacode" type="text" name="betaCode" class="validate">
                  <!-- <label class="right-align login-label">Forgot your password?</label>
                  <input id="password" type="password" name="betacode" class="validate">
                -->
                </div>
              </div>

              <div class="row" id="login">
                <div>
                  <button id="full-width" class="btn waves-effect waves-light fitpath-green" type="submit">Sign Up!
                  </button>
                </div>
              </div>
            </form>

            <div class="row center-align" style="text-transform: lowercase;">
              or sign up through..
            </div>



            <div class="row" id="login" style="padding-left: 15px; padding-right: 15px; margin: 0px">
              <div>
                <a href="/oauth/facebook" id="facebook-button" class="btn waves-effect waves-light facebook-blue" type="submit" name="action" id="login-left">Facebook
                   <i class="valign fa fa-facebook left"></i>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="row" id="bottom-form-div" style="margin-right: 25px; margin-left: 25px;">
            <div class="row" >
                <a  href="/signin" class="btn waves-effect waves-light  blue-grey lighten-1" type="submit"  style="width: 100%;" name="action">Already have an account?
                </a>
            </div>
        </div>



      </div>

  </body>
  <% include ../partials/scripts.ejs %>
</html>
